---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* RESET */
*, *:before, *:after {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* GENERAL */
body {
  background-color: #0064A3;
	background-image: url('/assets/background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-flow: row wrap;
}

/* TEXT */
h1, h2, h3 {
	color: #0064A3;
  margin-bottom: 0.5rem;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
  margin: 1.5rem 0;
}
h3 {
	font-size: 1.2rem;
  margin: 1.5rem 0;
}

a {
  color: #0064A3;
	text-decoration: none;
  outline: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

/* LISTS */
ul {
	list-style: none;
}

ol > li {
  margin: 0 0 1rem 1rem;
}

dl dt {
	font-weight: bold;
}
dl dd {
	padding-left: 1rem;
}

/* IMAGES / FIGURES */
img,
figure img {
  max-width: 95%;
  height: auto;
  margin: 1rem 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.lightbox img {
  margin: 0;
}

img.emoji {
  box-shadow: none;
  margin: 0;
}

img.emoji {
  margin: 0rem;
  box-shadow: none;
}

figure figcaption {
  text-align: center;
}

/* TABLE */
table {
	width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}
th {
  color: #FFF;
  background: #0064A3;
}
table th,
table td {
  border: 1px solid #ECF0F1;
	padding: 0.5em;
}
tbody tr:nth-child(even){
  background:#ECF0F1;
}
tbody th {
	text-align: left;
}
tbody td {
	text-align: center;
}

/* CODE */
code {
  background: #333;
  color: #FFF;
  border-radius: 0.2rem;
  font-size: 90%;
  padding: 0.2rem 0.4rem;
  margin-bottom: 1rem;
}

code span.c {
  color: #61737C;
}

.highlight code.language-bash::before {
  font-family: "FontAwesome";
  content: "\f120";
  position: absolute;
  margin-left: -1.5rem;
}

.highlight code {
  display: block;
  padding-left: 2rem;
}

/* KEYBOARD */
kbd {
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #FFFFFF inset;
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* BLOCKQUOTES */
blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #0064A3;
}

/** BUTTON */
.button {
  display: block;
	background: #2196F3;
	border: 1px solid #0D47A1;
  border-radius: 0.5rem;
	color: #FFF;
	padding: 1rem;
  margin: 2rem auto 0;
	text-transform: uppercase;
  font-weight: bold;
	font-size: 1rem;
  max-width: 18rem;
  transition: all 0.2s ease;
}

.button:hover {
  background:#1976D2;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

/** APT BUTTONS */
a[href^="apt://"] {
  display: block;
	background: #2196F3;
	border: 1px solid #0D47A1;
  border-radius: 0.5rem;
	color: #FFF;
	padding: 0.5rem;
  margin: 0.5rem 0;
	text-transform: uppercase;
  font-weight: bold;
	font-size: 1rem;
  max-width: 14rem;
  transition: all 0.2s ease;
}

a[href^="apt://"]::before {
  font-family: "FontAwesome";
  content: "\f019";
  padding: 0.5rem;
}

a[href^="apt://"]:hover {
  background:#1976D2;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

/** HEADER */
#header {
  display: flex;
	justify-content: space-between;
	align-items: center;
  flex-flow: row wrap;
  padding: 0 1rem;
  background: #FFF;
  border-bottom: 1px solid #0064A3;
}
#logo img {
	width: 80px;
  box-shadow: none;
  margin: 0;
  margin: 1rem 0;
}

/* HAMBURGER */
#hamburger {
  cursor: pointer;
  color: #000;
  font-size: 3rem;
  margin: 1rem;
  border-radius: 0.3rem;
  margin-top: 0.2rem;
}

@media all and (min-width: 1080px) {
  #hamburger {
    display: none;
  }
}

/* NAVIGATION */
nav {
  font-size: 0; // fix against spaces between inline elements
  display: none;
  flex: 0 1 100%;
}

nav ul li a {
  font-size: 1.2rem;
	text-transform: uppercase;
  padding: 0 1rem;
  line-height: 4rem;
  display: inline-block;
}

nav > ul > li.active {
  background: #0063A3;
}

nav > ul > li.active a {
  color: #FFF;
}

.social {
  display: none;
}

.social a {
  line-height: 4rem;
  display: inline-block;
}

.social > a > i {
	padding: 0 0.5rem;
	font-size: 1.5rem;
}

/** sub menus */
nav > ul > li > ul {
  display: none;
  position: absolute;
  padding: 1rem;
  background: #0063A3;
}

nav > ul > li > ul > li > a {
  color: #FFF;
  line-height: normal;
  height: auto;
  padding: 0.5rem 0;
}

@media all and (min-width: 1080px) {
  nav {
    display: block;
    flex: 0 1 auto;
  }
  .social {
    display: inline-block;
  }
  .social a {
    line-height: 6rem;
  }
  .social a:hover {
    color: #FFF;
    background: #0063A3;
  }
  nav > ul > li {
    position: relative;
    display: inline-block;
  }

  nav ul li a {
    line-height: 6rem;
    transition: all 0.2s ease;
  }

  nav ul li:hover a {
    background: #0063A3;
    color: #FFF;
  }

  nav > ul > li.active a {
    background: #0063A3;
  }

  /** sub menus */
  nav > ul > li:hover > ul {
    display: block;
    left: 0;
  }
}

/** NEWS SLIDER */
#slider {
	min-height: 15rem;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
  text-align: center;
	padding: 2rem;
}
#slider h1 {
  color: #FFF;
  font-size: 3rem;
}
#slider h2 {
	color: #FFF;
  font-size: 2rem;
}
#slider .button {
  font-size: 1.2rem;
  max-width: 60rem;
  margin: 0;
}

/* LAYOUT */
.wrapper {
  width: 100%;
}

@media all and (min-width: 1080px) {
  .wrapper {
    margin: 0 auto;
  	width: 90%;
    max-width: 75rem;
  }
}

/** CONTENT */
#content {
	display: flex;
  flex-flow: row wrap;
	background: #FFF;
  border-top: 1px solid #0064A3;
	padding: 1rem;
}

main {
  max-width: 100%;
	order: 2;
}

@media all and (min-width: 1080px) {
  #content {
    padding: 2rem;
  }
  .wiki-content {
    max-width: 65%;
    order: 1;
    flex: 3
  }
}

/** SIDEBAR */
#sidebar {
	order: 1;
  border-radius: 0.5rem;
  width: 100%;
}

#sidebar section {
	padding: 0 1rem 1rem 0;
  margin-bottom: 1rem;
	border-bottom: 2px solid #ECF0F1;
}

#sidebar section h1 {
	padding: 0;
	font-size: 1.5rem;
}

#sidebar ul > li {
  margin: 0 0 1rem 0;
}

#sidebar ul > li::before {
  content: "- "
}

@media all and (min-width: 1080px) {
  #sidebar {
    order: 2;
    flex: 1;
    border-left: 1px solid #ECF0F1;
    padding: 1rem;
    margin: 0 0 3rem 1rem;
  }

  #sidebar section {
    padding-left: 1rem;
  }
}

/** FRONT PAGE */
#front{
  text-align: center;
}

#front > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#front article {
  background: #0064A3;
  color: #FFF;
  margin: 1rem;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
  min-width: 46%;
  flex: 1 0 46%;
  text-align: center;
}

#front article h2 {
  color: #FFF;
}

#front article i {
  font-size: 5rem;
}

/** FOOTER */
#footer {
	padding: 1rem;
	background: #0064A3;
}

#footer p,
#footer a {
	color: #FFF;
}
