<footer id="footer">
	<section class="sponsoring">
		<h3>Unsere Sponsoren</h3>
		<div>
			<a href="https://banking.ametiq.com/" target="_blank">
				<img src="/assets/sponsoring/logo_ametiq_banking.svg" alt="Logo Amétiq Banking" class="no-shadow" height="150px">
			</a>
			<a href="https://ametiqconnect.com/" target="_blank">
				<img src="/assets/sponsoring/logo_ametiq_connect.svg" alt="Logo Amétiq Connect" class="no-shadow"  height="150px">
			</a>
			<a href="https://www.ametiq.com/" target="_blank">
				<img src="/assets/sponsoring/logo_ametiq_medical.svg" alt="Logo Amétiq Medical" class="no-shadow"  height="150px">
			</a>
			<a href="https://www.nine.ch/" target="_blank">
				<img src="/assets/sponsoring/logo_nine.png" alt="Logo Nine.ch" class="no-shadow"  height="150px">
			</a>
		</div>
	</section>
	<section class="partnership">
		<h3>Unsere Partner</h3>
		<div>
			<a href="https://coredump.ch" target="_blank">
				<img src="/assets/partnership/logo_coredump.svg" alt="Logo Coredump" class="no-shadow" height="150px">
			</a>
		</div>
	</section>
	<section class="legal">
		<p>
			<strong>&copy; open\HSR, <time datetime="{{site.time | date: "%Y-%m-%d" }}">{{site.time | date: "%d.%m.%Y" }}</time></strong>.
			Der Inhalt ist unter der <a href="https://www.gnu.org/copyleft/fdl.html" rel="license">GNU Free Documentation License</a> verfügbar, sofern nicht anders angegeben.
		</p>
	</section>
</footer>

<!--JS includes -->
<script src="/assets/jquery/jquery-2.2.2.min.js"></script>
<script src="/assets/lightbox/js/lightbox.min.js"></script>
<script src="/js/script.js"></script>
<noscript><p><img src="//piwik.fh2.ch/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
