<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="open\HSR">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.url | replace_first:'/',''}}">
  <link rel="icon" href="/assets/logo_w75.png" type="image/png">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/lightbox/css/lightbox.min.css" >
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link href='/assets/fonts/fonts.css' rel='stylesheet' type='text/css'>
</head>
