<header id="header">
  <secion id="logo">
    <a href="{{ site.baseurl }}/"><img src="/assets/logo_w75.png" alt="logo"></a>
  </secion>
  <section id="hamburger">
    <i class="fa fa-bars"></i>
  </section>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% for my_page in site.pages %}
          {% if my_page.title and my_page.hidden_from_navigation != true %}
            <li {% if my_page.url == page.url %} class="active"{% endif %} >
              <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% if my_page.title == "Programme" %}
                      <ul>
                  {% for app_page in site.app %}
                         <li><a{% if app_page.url == page.url %} class="active"{% endif %} href="{{ app_page.url }}">{{ app_page.title }}</a></li>
                  {% endfor %}
                      </ul>
              {% endif %}
              {% if my_page.title == "Dokumentationen" %}
                      <ul>
                  {% for hsr_page in site.hsr %}
                      <li><a{% if hsr_page.url == page.url %} class="active"{% endif %} href="{{ hsr_page.url }}">{{ hsr_page.title }}</a></li>
                  {% endfor %}
                      </ul>
              {% endif %}
              {% if my_page.title == "Community" %}
                <ul>
                  {% for my_sub_page in site.pages %}
                    {% if my_sub_page.parent == 'community'  %}
                      <li><a{% if my_sub_page.url == page.url %} class="active"{% endif %} href="{{ my_sub_page.url }}">{{ my_sub_page.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}

        <li class="social">
          <a href="https://twitter.com/altcomphsr" title="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="/hilfe/" title="Hilfe"><i class="fa fa-comments"></i></a>
          <a href="mailto:altcomphsr@vshsr.ch" title="E-Mail"><i class="fa fa-envelope"></i></a>
        </li>
    </ul>
  </nav>
</header>
