---
layout: default
---
{% include header.html %}

{%include slider.html %}

<section id="content">
  <main role="main">
    <section id="front">
      <h1>{{ page.title }}</h1>
      <p>Wir fördern die <strong>Open Source Community</strong> und unterstützen dich bei der Benutzung deines <strong>alternativen Betriebssystems</strong> an der HSR.</p>

      {{ content }}

      <div>
        <article>
          <i class="fa fa-rocket"></i>
          <h2>Arbeiten an der HSR</h2>
	  <p>Alles für einen gelungenen Studienstart</p>
          <a href="/hsr/" class="button">Überlebensguide</a>
        </article>

        <article>
          <i class="fa fa-users"></i>
          <h2>Community</h2>
          <p>Open Source, open\HSR und Events</p>
          <a href="/community/" class="button">Be a part of it!</a>
        </article>

        <article>
          <i class="fa fa-lightbulb-o"></i>
          <h2>Tipps &amp; Tricks</h2>
    	  <p>Tipps, Scripte, Tutorials und mehr</p>
          <a href="/tipps/" class="button">Zu den Hacks!</a>
        </article>

        <article>
          <i class="fa fa-question-circle"></i>
          <h2>Fragen &amp; Antworten</h2>
	  <p>Fragen zu Linux oder macOS an der HSR? </p>
          <a href="/hilfe/" class="button">Wir helfen dir.</a>
        </article>

      </div>
    </section>
  </main>

</section>

{% include footer.html %}
